# Byte-compiled / package files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django Stuff
*.log
*.sqlite3
*.sqlite3-journal
media/
staticfiles/

# Secrets & Environment Variables
.env
*.pem

# VS Code & IDE-specific
.vscode/
.idea/
*.swp

# macOS system file
.DS_Store
